@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing : border-box;
}

body {
    background-color: blueviolet;
    color :hotpink;
    font-family : 'Roboto',sans-serif;
    margin : 0;
    height: 100vh;
    display : flex;
    flex-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow : hidden;
}

.btn{
    color : #fff;
    font-size: 1.2rem;
    margin : 1rem;
    padding : 1.5rem 3rem;
    display: inline;
    background-color:lightpink;
    border : lightpink solid 1px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.btn:hover{
    opacity: 0.9;
}